.App {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    color: white;
    background-color: rgb(10,10,10);
    text-transform: uppercase;
}

/*
    Landing
 */

h1 {
    width: 100%;
    padding: 10px;
}

div.container,
.library,
.album {
    max-width: 768px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.landing-photo img {
    width: 100%;
    max-width: 768px;
}

.home-button a {
    color: #100;
    text-decoration: none;
    float: left;
}

.library-button {
    margin: 20px auto;
}

.library-button a {
    border: 2px solid rgb(66, 134, 244);
    border-radius: 5px;
    padding: 5px;
    float: center;
}

.selling-points {
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 768px;
}

.point {
    padding: 0 10px;
}

/*
    Library
*/

.album-item img,
.album-cover-art {
    border: 5px solid rgb(66, 134, 244);
    border-radius: 5px;
    width: 80%;
}

.album-details {
    width: 100%;
    margin: 20px auto;
}

/*
    Album
*/
.artist {
    width: 100%;
}

.song-list {
    margin: 0 auto;
    left: 60px;
    border-collapse: separate;
    border-spacing: 20px 15px;
}

.song:hover {
    cursor: pointer;
}

tr.song:hover td.play-pause-number {
    opacity: 100;
    transition: opacity 0.5s ease-out;
}

i {
    cursor: pointer;
}

td.play-pause-number {
    opacity: 0;
}

div.player-bar-container {
    background-color: rgb(66, 134, 244);
}

.buttons i {
    min-width: 48px;
    min-height: 48px;
    transform: scale(1.5);
    margin: 20px 15px 0px 15px;
}

/* .seek-bar-control {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

.time-control .seek-bar {
    margin: 20px auto 10px auto;
    cursor: pointer;
    width: 80%;
    color: black;
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #111;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: transform 0.2s ease-in-out;
}

.time-control .seek-bar:hover {
    opacity: 1;
}

.volume-control {
    margin: 20px auto;
}

.volume-control .seek-bar {
    margin: 0 auto;
    cursor: pointer;
    -webkit-appearance: none;
    width: 20%;
    height: 15px;
    border-radius: 5px;
    background: #111;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: scale(0.8);
    transition: transform 0.2s ease-in-out;
}

.volume-control .seek-bar:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.1);
    opacity: 1;
}
